<!DOCTYPE html>
<html  lang="es"  xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
</head> 
<body>
<header th:replace="layout/layout :: header" ></header>
	<div class="container py-4">
	<div class="card bg-light">
	<div class="card-header bg-dark text-light" th:text="${titulo}"></div>
	<div class="card-body text-center">
	<form  th:action="${clase}" th:object="${empaque}" method="post" enctype="multipart/form-data">	
	<div th:if="${clase == '/form'}"  class="form-row">
	<div class="col">
	<label class="col-form-label" for="rut">Rut</label>
		<input maxlength="9" id="rut" type="text" class="form-control" th:field="*{rut}" />
		<small class="form-text text-danger" th:if="${#fields.hasErrors('rut')}" th:errors="*{rut}"></small>
		<small  class="form-text text-danger"  th:text="${mensaje}"></small>
		</div>
		<div class="col">
			<label class="col-form-label" for="grupo">Grupo</label>
		<input id="grupo" type="text" class="form-control" th:field="*{IdGrupo}" />
		<small class="form-text text-danger" th:if="${#fields.hasErrors('IdGrupo')}" th:errors="*{IdGrupo}"></small>
		</div>
		</div>
		<div th:if="${clase =='/edit'}"  class="form-row">
	<div class="col">
	<label class="col-form-label" for="rut">Rut</label>
		<input readonly="readonly" maxlength="9" id="rut" type="text" class="form-control" th:field="*{rut}" />
		<small class="form-text text-danger" th:if="${#fields.hasErrors('rut')}" th:errors="*{rut}"></small>
		<small  class="form-text text-danger"  th:text="${mensaje}"></small>
		</div>
		<div class="col">
			<label class="col-form-label" for="grupo">Grupo</label>
		<input id="grupo" type="text" class="form-control" th:field="*{IdGrupo}" />
		<small class="form-text text-danger" th:if="${#fields.hasErrors('IdGrupo')}" th:errors="*{IdGrupo}"></small>
		</div>
		</div>
			<div class="form-row">
	<div class="col">
	<label class="col-form-label" for="nombre">Nombre</label>
		<input id="nombre" type="text" class="form-control" th:field="*{nombre}" />
		<small class="form-text text-danger" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></small>
		</div>
	<div class="col">
	<label class="col-form-label" for="apellido">Apellido</label>
		<input id="apellido" type="text" class="form-control" th:field="*{apellido}" />
		<small class="form-text text-danger" th:if="${#fields.hasErrors('apellido')}" th:errors="*{apellido}"></small>
		</div>
		</div>
				<div class="form-row">
	<div class="col">
	<label class="col-form-label" for="correo">Email</label>
		<input id="correo" type="text" class="form-control" th:field="*{correo}" />
		<small class="form-text text-danger" th:if="${#fields.hasErrors('correo')}" th:errors="*{correo}"></small>
		</div>
		<div class="col">
		<br />
		<div class="card">
  <div class="card-header">
    Estado
  </div>
  <div class="card-body">
     <label class="btn btn-success">
    <input th:field="*{estado}" value="1" type="radio">  Activo
  </label>
   <label class="btn btn-danger">
    <input th:field="*{estado}" value="0" type="radio"> Inactivo
  </label>
  </div>
</div>
		</div>
		</div>
		<br />
		<label>Subir Arhivos</label>
		<small><div class="form-row">
<div class="custom-file col col-md-4">
<label for="avatar">Certificado Alumno</label>
<input type="file"
       id="avatar" name="file"
       accept="application/pdf">
</div>
</div>
</small><br />
<div class="form-row">
<div class="col col-md-4">
       <input type="file"  accept="image/x-png,image/jpeg"  class="custom-file-input" lang="es" id="fileUpload" name="credencial" />
<label  for="certificado" id="textcredencial" class="custom-file-label text-left">Agregar Credencial</label>
<div class="">
<div  id="image-holder">
</div>
<input  value="Eliminar" id="btncerrar" class="invisible" onclick="something_happens()" type="button">
<br />
</div>
</div>
</div>
		<div class="form-group">
		<br />
				<input th:if="${clase =='/form'}" type="submit" class="btn btn-primary bg-dark text-light" onclick="return confirm('Estas Seguro?')"  value="Crear Empaque" />
				<input th:if="${clase =='/edit'}" type="submit" class="btn btn-primary bg-dark text-light" onclick="return confirm('Estas Seguro?')" value="Editar Empaque" />
	</div>
	</form>
	</div>
	</div>
	</div>
		<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>