<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
</head>
<body>
	<header th:replace="layout/layout :: header" ></header>
	<div class="container py-4">
	<div class="card bg-light">
	<div class="card-header bg-dark text-light" th:text="${titulo}"></div>
	<div class="card-body text-center">
	<form th:action="@{/edit}" th:object="${empaque}" method="post" enctype="multipart/form-data">
	<div class="form-row">
	<div class="col">
	<label class="col-form-label" for="rut">Rut</label>
		<input  readonly="readonly" maxlength="9" id="rut" type="text" class="form-control text-center" th:field="*{rut}" />
		<small class="form-text text-danger" th:if="${#fields.hasErrors('rut')}" th:errors="*{rut}"></small>
		<small  class="form-text text-danger"  th:text="${mensaje}"></small>
		</div>
		<div class="col">
			<label class="col-form-label" for="grupo">Grupo</label>
		<input id="grupo" type="text" class="form-control text-center" th:field="*{IdGrupo}" />
		<small class="form-text text-danger" th:if="${#fields.hasErrors('IdGrupo')}" th:errors="*{IdGrupo}"></small>
		</div>
		</div>
			<div class="form-row">
	<div class="col">
	<label class="col-form-label" for="nombre">Nombre</label>
		<input id="nombre" type="text" class="form-control text-center" th:field="*{nombre}" />
		<small class="form-text text-danger" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></small>
		</div>
	<div class="col">
	<label class="col-form-label" for="apellido">Apellido</label>
		<input id="apellido" type="text" class="form-control text-center" th:field="*{apellido}" />
		<small class="form-text text-danger" th:if="${#fields.hasErrors('apellido')}" th:errors="*{apellido}"></small>
		</div>
		</div>
		<div class="form-row">
		<div class="col">
		<br />
			<button type="submit" class="btn btn-primary bg-dark text-light"  onclick="return confirm('Confirmar Edicion?')"  /><span class="fa fa-pencil"></span> Editar</button>
	</div>
	</div>
	</form>
	</div>
	</div>
	</div>
		<footer th:replace="layout/layout :: footer"></footer>
	</body>
</html>