<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
<meta charset="ISO-8859-1" />
</head>
<body>
	<header th:replace="layout/layout :: header"></header>
	<div class="container py-4">
	<div class="card bg-light">
	<div class="card-header bg-dark text-light" th:text="${titulo}"></div>
	<div class="card-body">
		<div class="card-tittle text-center">
			<a class="btn btn-primary btn-md bg-dark" th:href="@{/form}"><spam class="fa fa-user-plus"></spam> Crear
				Empaque</a>
		</div>
		<br />
		<small>
		<table class="table-striped table table-responsive">
			<thead class="bg-dark text-light">
				<tr>
					<th>Rut</th>
					<th>Nombre Apellido</th>
					<th>Correo</th>
					<th>Fecha_Ingreso</th>
					<th>Estado</th>
					<th>Grupo</th>
					<th>Editar</th>
					<th>Eliminar</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="empaque: ${empaques}">
					<td th:text="${empaque.rut}"></td>
					<td th:text="${empaque.nombre}+' '+${empaque.apellido}"></td>
					<td th:text="${empaque.correo}"></td>
					<td th:text="${empaque.createAt}"></td>
					<td th:if="${empaque.estado==1}"><spam class="btn btn-success"></spam></td>
					<td th:if="${empaque.estado==0}"><spam class="btn btn-danger"></spam></td>
					<td th:text="${empaque.IdGrupo}"></td>
					<td><a class="btn btn-primary btn-xs"
						th:href="@{/edit/}+${empaque.rut}"><span class="fa fa-pencil" aria-hidden="true"></span></a></td>
					<td><a class="btn btn-danger btn-xs"
						th:href="@{/eliminar/}+${empaque.rut}"
						onclick="return confirm('Confirmar Eliminacion?')"><sapn class="fa fa-close"></sapn></a></td>
				</tr>
			</tbody>
		</table>
		</small>
		<small>
		<nav th:replace="paginator-nav :: paginator"></nav>
		</small>
		</div>
		</div>
	</div>
	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>